@import "tailwindcss";

body {
    font-family: "Open Sans", sans-serif;
}

header nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    border-bottom: 4px solid transparent;
}

header nav ul li:hover {
    color: #0282f9;
    border-bottom: 4px solid #0282f9;
}

header nav ul li a {
    padding: 10px;
}

/*header nav ul li:hover {*/
/*    color: #0282f9;*/
/*    border-bottom: 2px solid #0282f9;*/
/*}*/